/* Font */
/* Background */
/* Container */
/* Typography */
/* Button */
/* Border radius */
/* Breakpoints */
/* Themes */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5; }

p {
  font-family: "Open Sans", sans-serif;
  color: #6c788b; }

.container {
  max-width: 1145px;
  padding: 0 100px;
  margin: 0 auto; }
  @media screen and (max-width: 1117px) {
    .container {
      padding: 0 70px; } }
  @media screen and (max-width: 930px) {
    .container {
      padding: 0 50px; } }
  @media screen and (max-width: 620px) {
    .container {
      padding: 0 20px; } }

.slider {
  position: relative;
  width: 43%;
  height: 100%;
  border-radius: 200px 0 0 0;
  overflow: hidden; }
  @media screen and (max-width: 1117px) {
    .slider {
      width: 450px; } }
  @media screen and (max-width: 930px) {
    .slider {
      width: 100%;
      height: 350px;
      border-radius: 0 0 0 30px; } }
  .slider__controls {
    position: absolute;
    left: 48px;
    bottom: 66px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
    @media screen and (max-width: 620px) {
      .slider__controls {
        left: 20px;
        right: 20px;
        bottom: 50%;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .slider__arrow {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #253757;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .slider__arrow:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .slider__arrow--left {
      background-image: url("../images/slider/arrow-left.svg");
      margin-right: 8px; }
      @media screen and (max-width: 620px) {
        .slider__arrow--left {
          margin-right: 0; } }
    .slider__arrow--right {
      background-image: url("../images/slider/arrow-right.svg"); }
    .slider__arrow--left, .slider__arrow--right {
      background-repeat: no-repeat;
      background-position: center; }

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .slide::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(189deg, rgba(255, 255, 255, 0) 43%, #ff9c8e 100%); }
  .slide__info {
    position: absolute;
    bottom: 48px;
    left: 144px;
    max-width: 260px;
    z-index: 1; }
    @media screen and (max-width: 620px) {
      .slide__info {
        left: 0;
        right: 0;
        text-align: center;
        max-width: 100%;
        padding: 0 20px; } }
  .slide__name {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 8px; }
  .slide--1 {
    background-image: url("../images/slider/slide-img-1.jpg"); }

.header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #008aff; }
  @media screen and (max-width: 1117px) {
    .header {
      height: 80px; } }
  @media screen and (max-width: 620px) {
    .header {
      height: 60px; } }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media screen and (max-width: 1117px) {
      .header__container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .header__logo {
    margin-right: 78px; }
    @media screen and (max-width: 1117px) {
      .header__logo {
        margin-right: 0; } }
  .header__link {
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; }
    @media screen and (max-width: 1117px) {
      .header__link {
        margin-left: 0; } }

.nav {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase; }
  @media screen and (max-width: 1117px) {
    .nav {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      height: 100vh;
      background-color: #008aff;
      opacity: 1;
      z-index: 2;
      overflow-y: hidden;
      -webkit-transition: -webkit-transform 0.2s;
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transition: transform 0.2s, -webkit-transform 0.2s; }
      .nav--visisble {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    @media screen and (max-width: 1117px) {
      .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 24px;
        margin-top: 120px; } }
  .nav__item {
    margin-right: 64px; }
    @media screen and (max-width: 1117px) {
      .nav__item {
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px; } }
  .nav__link, .header__link {
    position: relative;
    text-decoration: none;
    color: #fff; }
    .nav__link::after, .header__link::after {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #ff9c8e;
      border-radius: 4px;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    .nav__link:hover::after, .header__link:hover::after {
      width: 100%; }

@media screen and (max-width: 1117px) {
  .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.burger {
  position: relative;
  display: none;
  width: 24px;
  height: 16px;
  cursor: pointer;
  z-index: 3; }
  @media screen and (max-width: 1117px) {
    .burger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }
  .burger__span {
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .burger--clicked .burger__span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg); }
  .burger--clicked .burger__span:nth-child(2) {
    width: 0; }
  .burger--clicked .burger__span:last-child {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg); }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 226px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #ff9c8e;
  border: 0;
  border-radius: 64px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:hover {
    background-color: #ff7e6c; }

.section__name, .person-card__company {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.heading {
  font-size: 32px;
  line-height: 1.5;
  color: #253757; }
  @media screen and (max-width: 1117px) {
    .heading {
      font-size: 24px; } }
  .heading--size-big {
    font-size: 52px; }
    @media screen and (max-width: 1117px) {
      .heading--size-big {
        font-size: 38px; } }
    @media screen and (max-width: 620px) {
      .heading--size-big {
        font-size: 28px; } }

.showcase {
  position: relative;
  height: 680px;
  color: #fff;
  background-color: #008aff;
  border-radius: 0 0 0 200px; }
  @media screen and (max-width: 1117px) {
    .showcase {
      height: 520px; } }
  @media screen and (max-width: 930px) {
    .showcase {
      height: auto;
      padding: 50px 0;
      border-radius: 0 0 0 30px; } }
  @media screen and (max-width: 620px) {
    .showcase {
      padding: 40px 0; } }
  .showcase__site-info {
    position: absolute;
    bottom: 205px;
    max-width: 362px; }
    @media screen and (max-width: 1117px) {
      .showcase__site-info {
        bottom: 135px; } }
    @media screen and (max-width: 930px) {
      .showcase__site-info {
        position: static;
        margin: 0 auto;
        text-align: center; } }
  .showcase__site-title {
    font-size: 64px;
    line-height: 1.06;
    letter-spacing: -2px; }
    @media screen and (max-width: 1117px) {
      .showcase__site-title {
        font-size: 54px; } }
    @media screen and (max-width: 620px) {
      .showcase__site-title {
        font-size: 34px;
        letter-spacing: normal;
        max-width: 290px;
        margin: 0 auto; } }
  .showcase__site-subtitle {
    font-size: 18px;
    margin-top: 32px;
    color: #fff; }
    @media screen and (max-width: 620px) {
      .showcase__site-subtitle {
        font-size: 14px;
        margin-top: 16px; } }
  .showcase__button {
    margin-top: 83px; }
    @media screen and (max-width: 1117px) {
      .showcase__button {
        margin-top: 43px; } }
    @media screen and (max-width: 930px) {
      .showcase__button {
        margin: 30px auto 0; } }
    @media screen and (max-width: 620px) {
      .showcase__button {
        margin-top: 16px; } }
  .showcase__slider {
    position: absolute;
    bottom: 0;
    right: 0; }
    @media screen and (max-width: 930px) {
      .showcase__slider {
        position: relative;
        margin-top: 30px; } }

.about {
  padding: 148px 0; }
  @media screen and (max-width: 1117px) {
    .about {
      padding: 80px 0; } }
  @media screen and (max-width: 620px) {
    .about {
      padding: 50px 0; } }
  .about__text {
    max-width: 754px;
    margin: 0 auto; }
    @media screen and (max-width: 1117px) {
      .about__text {
        text-align: center; } }
  .about__paragraph {
    font-size: 24px;
    margin-top: 16px; }
    @media screen and (max-width: 1117px) {
      .about__paragraph {
        font-size: 18px; } }

.expertise {
  padding: 128px 0 134px;
  background-color: #fff; }
  @media screen and (max-width: 1117px) {
    .expertise {
      padding: 68px 0 74px; } }
  @media screen and (max-width: 930px) {
    .expertise {
      padding: 48px 0 54px; } }
  @media screen and (max-width: 620px) {
    .expertise {
      padding: 38px 0 44px; } }
  .expertise__heading {
    text-align: center; }
  .expertise__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
    text-align: center; }
    @media screen and (max-width: 1117px) {
      .expertise__grid {
        margin-top: 44px; } }
    @media screen and (max-width: 930px) {
      .expertise__grid {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media screen and (max-width: 620px) {
      .expertise__grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 28px; } }
  .expertise__card {
    width: 264px; }
    @media screen and (max-width: 1117px) {
      .expertise__card {
        width: 244px; } }
    @media screen and (max-width: 930px) {
      .expertise__card {
        margin-bottom: 40px; } }
    @media screen and (max-width: 620px) {
      .expertise__card {
        width: 280px; } }
  .expertise__photo {
    width: 166px;
    height: 166px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
    .expertise__photo:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .expertise__img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .expertise__name {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.4;
    color: #253757; }
    @media screen and (max-width: 1117px) {
      .expertise__name {
        margin-top: 25px; } }
    @media screen and (max-width: 620px) {
      .expertise__name {
        margin-top: 16px; } }
  .expertise__paragraph {
    margin-top: 16px; }
    @media screen and (max-width: 930px) {
      .expertise__paragraph {
        padding: 0 5px; } }
    @media screen and (max-width: 620px) {
      .expertise__paragraph {
        padding: 0;
        margin-top: 8px; } }

.service-card {
  width: 264px;
  height: 264px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
  .service-card__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .service-card:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.13);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.13); }
    .service-card:hover .service-card__icon {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .service-card__number {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 12px;
    border-radius: 23px; }
  .service-card__text {
    font-weight: bold;
    margin-top: 24px; }
  .service-card--theme-blue .service-card__number {
    color: #56ccf2;
    background-color: rgba(86, 204, 242, 0.1); }
  .service-card--theme-blue .service-card__icon {
    background-color: #56ccf2; }
  .service-card--theme-yellow .service-card__number {
    color: #fcc91d;
    background-color: rgba(252, 201, 29, 0.1); }
  .service-card--theme-yellow .service-card__icon {
    background-color: #fcc91d; }
  .service-card--theme-green .service-card__number {
    color: #15d850;
    background-color: rgba(21, 216, 80, 0.1); }
  .service-card--theme-green .service-card__icon {
    background-color: #15d850; }
  .service-card--theme-red .service-card__number {
    color: #f36363;
    background-color: rgba(243, 99, 99, 0.1); }
  .service-card--theme-red .service-card__icon {
    background-color: #f36363; }
  .service-card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #253757;
    text-decoration: none; }

.process {
  position: relative;
  padding: 250px 0; }
  @media screen and (max-width: 1117px) {
    .process {
      padding: 50px 0; } }
  .process__text {
    max-width: 362px; }
    @media screen and (max-width: 1117px) {
      .process__text {
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center; } }
  .process__heading {
    margin-top: 16px;
    line-height: 1.3; }
  .process__paragraph {
    margin-top: 24px; }
    @media screen and (max-width: 1117px) {
      .process__paragraph {
        margin-top: 16px; } }
  .process__card-group {
    position: absolute;
    bottom: 44px;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    z-index: 1; }
    @media screen and (max-width: 1117px) {
      .process__card-group {
        position: static;
        grid-template-columns: repeat(2, 264px);
        justify-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media screen and (max-width: 620px) {
      .process__card-group {
        grid-template-columns: 1fr; } }
  .process__card:nth-child(odd) {
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
    @media screen and (max-width: 1117px) {
      .process__card:nth-child(odd) {
        -webkit-transform: translateY(0);
                transform: translateY(0); } }

.approach {
  position: relative; }
  @media screen and (max-width: 930px) {
    .approach {
      text-align: center; } }
  .approach__container {
    max-width: calc(945px);
    padding: 204px;
    background-color: #ff9c8e;
    border-radius: 200px 0 0 200px; }
    .approach__container::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      background-color: #ff9c8e;
      z-index: -1; }
    @media screen and (max-width: 1117px) {
      .approach__container {
        max-width: 1145px;
        padding: 70px;
        border-radius: 30px 0 0 30px; } }
    @media screen and (max-width: 930px) {
      .approach__container {
        padding: 50px; } }
    @media screen and (max-width: 620px) {
      .approach__container {
        padding: 50px 20px; } }
  .approach__name, .approach__heading, .approach__paragraph {
    color: #fff; }
  .approach__heading {
    margin-top: 16px;
    max-width: 362px; }
    @media screen and (max-width: 930px) {
      .approach__heading {
        margin: 16px auto 0; } }
  .approach__text {
    margin-top: 32px; }
    @media screen and (max-width: 930px) {
      .approach__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 32px; } }
  .approach__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px; }
    .approach__item:last-child {
      margin-bottom: 0; }
    @media screen and (max-width: 930px) {
      .approach__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin-bottom: 20px; } }
  .approach__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #fff;
    margin-right: 34px;
    border-radius: 50%; }
    @media screen and (max-width: 930px) {
      .approach__icon {
        margin-right: 0;
        margin-bottom: 16px; } }
  .approach__paragraph {
    max-width: 264px;
    font-size: 15px; }
    @media screen and (max-width: 930px) {
      .approach__paragraph {
        padding: 0 15px; } }
  .approach__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 680px;
    width: 43%;
    border-radius: 200px 0 0 0;
    overflow: hidden; }
    @media screen and (max-width: 1117px) {
      .approach__photo {
        height: 550px; } }
    @media screen and (max-width: 930px) {
      .approach__photo {
        position: static;
        width: 100%;
        height: 350px;
        border-radius: 0 0 0 30px; } }
  .approach__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.testimonials {
  padding: 148px 0 168px; }
  @media screen and (max-width: 1117px) {
    .testimonials {
      padding: 80px 0;
      text-align: center; } }
  .testimonials__heading {
    max-width: 200px;
    margin-top: 16px; }
    @media screen and (max-width: 1117px) {
      .testimonials__heading {
        max-width: 100%; } }
  .testimonials__card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px; }
    @media screen and (max-width: 1160px) {
      .testimonials__card-group {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (max-width: 1117px) {
      .testimonials__card-group {
        margin-top: 40px; } }
    @media screen and (max-width: 784px) {
      .testimonials__card-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media screen and (max-width: 1160px) {
    .testimonials__person-card:first-child {
      margin-right: 40px;
      margin-bottom: 40px; } }
  @media screen and (max-width: 784px) {
    .testimonials__person-card {
      margin-top: 20px; }
      .testimonials__person-card:first-child {
        margin-right: 0;
        margin-bottom: 0;
        margin-top: 0; } }

.person-card {
  position: relative;
  max-width: 314px;
  height: 494px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 87px 32px 32px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s; }
  .person-card__photo {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    z-index: 1; }
    .person-card__photo::before, .person-card__photo::after {
      position: absolute;
      content: "";
      width: 139px;
      height: 56px;
      left: -48px;
      top: -6px;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: -1; }
    .person-card__photo::after {
      top: 87px;
      left: 49px; }
    .person-card__photo::before, .person-card__photo::after, .person-card__photo::after {
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .person-card:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.13);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.13); }
    .person-card:hover .person-card__photo::before, .person-card:hover .person-card__photo::after {
      -webkit-transform: translate(-10px, -10px) rotate(-60deg);
              transform: translate(-10px, -10px) rotate(-60deg); }
    .person-card:hover .person-card__photo::after {
      -webkit-transform: translate(10px, 10px) rotate(-60deg);
              transform: translate(10px, 10px) rotate(-60deg); }
  .person-card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%; }
  .person-card__text {
    position: relative;
    margin-top: 111px;
    font-size: 13px; }
    .person-card__text::before {
      position: absolute;
      top: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .person-card__name {
    margin-top: 23px;
    font-size: 13px;
    color: #253757; }
  .person-card__company {
    margin-top: 4px; }
  .person-card--theme-blue .person-card__photo::before, .person-card--theme-blue .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person-card--theme-blue .person-card__text::before {
    content: url("../images/testimonials/quote-blue.svg"); }
  .person-card--theme-yellow .person-card__photo::before, .person-card--theme-yellow .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc91d;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc91d; }
  .person-card--theme-yellow .person-card__text::before {
    content: url("../images/testimonials/quote-yellow.svg"); }
  .person-card--theme-green .person-card__photo::before, .person-card--theme-green .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #15d850;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #15d850; }
  .person-card--theme-green .person-card__text::before {
    content: url("../images/testimonials/quote-green.svg"); }
  .person-card--theme-red .person-card__photo::before, .person-card--theme-red .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f36363;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f36363; }
  .person-card--theme-red .person-card__text::before {
    content: url("../images/testimonials/quote-red.svg"); }

.apply {
  position: relative;
  padding: 199px 0;
  background-color: #fff;
  text-align: center; }
  @media screen and (max-width: 620px) {
    .apply {
      padding: 100px 0; } }
  .apply__text {
    position: relative; }
  .apply__subheading, .apply__button {
    margin: 0 auto; }
  .apply__subheading {
    max-width: 754px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold; }
    @media screen and (max-width: 620px) {
      .apply__subheading {
        font-size: 18px; } }
  .apply__button {
    margin-top: 64px; }
    @media screen and (max-width: 620px) {
      .apply__button {
        margin-top: 32px; } }
  .apply__circle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0.5; }
    .apply__circle--blue::before {
      position: absolute;
      content: "";
      bottom: 25%;
      right: 18%;
      width: 145px;
      height: calc(48.33333px);
      border: 4px solid skyblue;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--blue::after {
      position: absolute;
      content: "";
      top: 25%;
      left: 18%;
      width: 145px;
      height: calc(48.33333px);
      border: 4px solid skyblue;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    @media screen and (max-width: 930px) {
      .apply__circle--blue {
        display: none; } }
    .apply__circle--red::before {
      position: absolute;
      content: "";
      bottom: 72%;
      right: 9%;
      width: 110px;
      height: calc(36.66667px);
      border: 3px solid red;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--red::after {
      position: absolute;
      content: "";
      top: 72%;
      left: 9%;
      width: 110px;
      height: calc(36.66667px);
      border: 3px solid red;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    @media screen and (max-width: 620px) {
      .apply__circle--red {
        display: none; } }
    .apply__circle--green::before {
      position: absolute;
      content: "";
      bottom: 38%;
      right: 10%;
      width: 30px;
      height: calc(10px);
      border: 5px solid green;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--green::after {
      position: absolute;
      content: "";
      top: 38%;
      left: 10%;
      width: 30px;
      height: calc(10px);
      border: 5px solid green;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    @media screen and (max-width: 930px) {
      .apply__circle--green {
        display: none; } }
    .apply__circle--orange::before {
      position: absolute;
      content: "";
      bottom: 68%;
      right: 27%;
      width: 70px;
      height: calc(23.33333px);
      border: 2px solid orange;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--orange::after {
      position: absolute;
      content: "";
      top: 68%;
      left: 27%;
      width: 70px;
      height: calc(23.33333px);
      border: 2px solid orange;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--purple::before {
      position: absolute;
      content: "";
      bottom: 6%;
      right: 29%;
      width: 50px;
      height: calc(16.66667px);
      border: 3px solid purple;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--purple::after {
      position: absolute;
      content: "";
      top: 6%;
      left: 29%;
      width: 50px;
      height: calc(16.66667px);
      border: 3px solid purple;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--pink::before {
      position: absolute;
      content: "";
      bottom: 22%;
      right: 2%;
      width: 100px;
      height: calc(33.33333px);
      border: 2px solid pink;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }
    .apply__circle--pink::after {
      position: absolute;
      content: "";
      top: 22%;
      left: 2%;
      width: 100px;
      height: calc(33.33333px);
      border: 2px solid pink;
      border-radius: 500px;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg); }

body {
  background: #f2f9ff; }
  body.has-modal {
    overflow: hidden;
    height: 100vh; }

/*# sourceMappingURL=main.css.map */
